
<button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#myCommentModal">Add your Answer</button>

<!-- Modal -->
 <% if(currentUser){ %>
<div id="myCommentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Type your Answer here.</h4>
      </div>
      <div class="modal-body">
            
            
          <form action="/posts/<%=post._id%>/answers" method="POST">
                <div class="form-group">
                <textarea class="form-control" name = "answer[text]" rows="10" cols="50" required="required"></textarea>
                </div>
                 <div class="form-group">
                <button class="btn btn-lg btn-default"> Submit </button>
                </div>
            </form>
            
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<%}%>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
           <div class="alert alert-warning">You need to login first</div>
           <a href="/login" class="btn btn-md btn-success center">Go to Login Page</a>
        </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>