<!DOCTYPE html>
<html>
    <head>
         <title>Raise your query</title>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         

    </head>
    <body >
        
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/posts/page/1"><font color="white">GyaanDoo</font></a>
            
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
         </button>
            
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
             <%  if(!currentUser){ %>
                <li><a href="/login" class="whitefont"><font color="white">Login</font></a></li>
                <li><a href="/register" class="whitefont"><font color="white">Sign Up</font></a></li>
             <%   }else{ %>
                <li><a href="#" class="whitefont"><font color="white">Signed in as <%=currentUser.username%></font></a></li>
                <li><a href="/logout" class="whitefont"><font color="white">Logout</font></a></li>
            <%    }%>
            </ul>
        </div>
    </div>
</nav>