<!DOCTYPE html>
<html>
<title>Answer questions to get paid</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://live.staticflickr.com/2807/34113563051_840a846422_b.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>
    

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Gyaandoo
  </div>
  <div class="w3-display-middle">
   
    
    <p class="w3-large w3-text-black w3-panel w3-white " ><a href ="/posts/page/1"> ENTER HERE</a> </p>
   
  </div>
  <div class="w3-display-bottomright w3-padding-large">
    Powered by <a href="#">Jhaaji</a>
  </div>
</div>

</body>
</html>
