<% include ../partials/header %>

<div class="container">

<h1 style="text-align:center">Add new Query</h1>

<form action="/" method="POST">
    <div class="form-group">
        <textarea class="form-control" name = "question" rows="2" cols="50" required="required"></textarea>
    </div>
    <button class="btn btn-lg btn-default"> Submit </button>
    </div>
</form>

</div>

<% include ../partials/footer %>